## Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objetives: Comprender de una manera más práctica el uso de Notebook LJupyter**

**Unordered list**

- Aqui aprendimos a crear una tabla en celdas Markdown.
- Creamos una tabla y enumeramos herramientas de data science.
- Investigamos sobre cómo realizar el modulo y resto de una división para dar un resultado correcto en una conversión
- Creamos una lista de lenguajes más usados en data science.
- Realizamos comentarios en el notebook.

### Some of the commonly used libraries used by Data Scientists include:

# List of lenguajes of data science.
1. Pandas
2. Numpy
3. Matplotlib
4. Searborn
5. Scikit



|Data Science Tools|
--------------------
| Data tools | 
| ------ | 
| R Studio | 
| Anaconda | 
| Github |

## Below are a few examples of evaluating arithmetic expressions in Python
1. multiplicación 5*4 = 20
2. división 20/4 =5
3. suma 4+5 = 9

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [29]:
#Convirtiendo 200 min en horas

a = 200
b = 60
modulo = a // b
resto  = a % b
print(f"{a} minutos equivalen a:", f"{modulo} horas", f"{resto} minutos")

200 minutos equivalen a: 3 horas 20 minutos

## Autor: Jeniffer Calderón